
// 标题导航栏高度
$easychat-ui-nav-height: 60px;

// 主题色
$easychat-ui-primary-color: #4485f5;
$easychat-ui-primary-color-light: #4b90e2;
$easychat-ui-danger-color: #ff4d4f;

// 背景色
$easychat-ui-background-light: #fafafb;
$easychat-ui-background: #f3f3f3;
$easychat-ui-background-dark: #c3c3c3;

// 标题导航栏
$easychat-ui-background-nav: #24292e;

// 线条色
$easychat-ui-border-darker: #c3c3c3;
$easychat-ui-border-dark: #dddddd;
$easychat-ui-border: #ededed;
$easychat-ui-border-light: #eeeeee;

// 字体颜色
$easychat-ui-font-darker: #000;
$easychat-ui-font-dark: #333;
$easychat-ui-font: #666;
$easychat-ui-font-light: #797979;
$easychat-ui-font-lighter: #999999;
